@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
  scroll-behavior: smooth;
}

@font-face {
  font-family: human;
  src: url(../assets/fonts/Humane-Medium.ttf);
}
@font-face {
  font-family: boni;
  src: url(../assets/fonts/boni.ttf);
}

@font-face {
  font-family: humanBold;
  src: url(../assets/fonts/Humane-Bold.ttf);
}

.content {
  width: 1900px;
  max-width: 100%;
  margin: auto;
}
